# elec stacked demo

## setup

In [1]:
import pandas as pd

## 1 - data import

In [3]:
df=pd.read_csv('Elec - Stacked - 2005-2020.csv')
df

,year,gor,region,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,...,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_mean_kwh,all_median_kwh,avg_per_hhld_kwh
0,2005,E12000006,East,0.000,0.000,2440.150,218.020,2658.170,0.000000,0.000000,...,0.00,0.000000,0.0,4951.000000,0.0,78854.00000,0.00,0,0.00,0.000000
1,2005,E12000004,East Midlands,0.000,0.000,1911.400,161.380,2072.780,0.000000,0.000000,...,0.00,0.000000,0.0,4522.000000,0.0,94773.00000,0.00,0,0.00,0.000000
2,2005,E12000007,London,0.000,0.000,3248.590,421.080,3669.670,0.000000,0.000000,...,0.00,0.000000,0.0,4274.000000,0.0,65426.00000,0.00,0,0.00,0.000000
3,2005,E12000001,North East,0.000,0.000,1170.120,82.180,1252.300,0.000000,0.000000,...,0.00,0.000000,0.0,3887.000000,0.0,113757.00000,0.00,0,0.00,0.000000
4,2005,E12000002,North West,0.000,0.000,2910.570,236.810,3147.380,0.000000,0.000000,...,0.00,0.000000,0.0,4527.000000,0.0,97610.00000,0.00,0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2019,E12000006,East,684.012,2017.660,2701.672,232.860,2934.532,3452.728002,7189.566595,...,3769.30,3563.319189,2874.0,3939.151236,3042.4,64576.09201,7795.55,8750.793442,3120.80,4124.861231
147,2019,E12000007,London,424.809,3206.913,3631.722,411.845,4043.567,2034.651527,10483.284370,...,3752.00,3268.964382,2540.0,3446.832082,2633.7,60156.34308,5514.20,9222.803781,2705.10,3555.681266
148,2019,E12000008,South East,617.812,3337.166,3954.978,350.218,4305.196,3233.665035,12259.273420,...,4013.80,3673.558168,2922.3,3917.326077,3039.5,61553.50140,7098.55,8605.899152,3111.85,4096.114440
149,2019,E12000009,South West,344.213,2244.334,2588.547,264.094,2852.641,2109.007933,7857.311042,...,5015.30,3500.954422,2813.6,3850.159559,2960.4,49557.67596,6489.95,8081.705286,3041.80,4113.250249
150,2019,W92000004,Wales,91.664,1341.225,1432.889,132.309,1565.198,548.804603,4307.118556,...,4607.85,3211.331846,2701.5,3388.903927,2757.2,74522.88715,6684.70,9401.987375,2835.80,3547.815031

In [4]:
df.describe()

,year,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,domestic_sales_gwh,non_domestic_sales_gwh,...,e7_mean_kwh,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_median_kwh,avg_per_hhld_kwh
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,...,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,2011.986755,209.784940,1122.873238,2463.527358,220.581623,2684.108781,1108.489044,3985.915506,9937.950007,16310.828160,...,2888.221143,2261.988079,1864.413751,1550.250993,3993.135063,1609.860265,77314.773368,4402.634437,1651.733444,3565.917393
std,4.323558,266.765591,1180.141991,781.601960,90.910105,865.819643,1374.215922,4250.614355,3480.111317,5506.563552,...,2768.416976,2182.121028,1770.159816,1471.723679,402.320109,1530.412602,12426.734348,4250.240190,1570.088707,1443.250334
min,2005.000000,0.000000,0.000000,1170.120000,79.840000,1252.300000,0.000000,0.000000,3755.352627,7243.277964,...,0.000000,0.000000,0.000000,0.000000,3026.189291,0.000000,49557.675960,0.000000,0.000000,0.000000
25%,2008.000000,0.000000,0.000000,1997.670000,161.335000,2155.455000,0.000000,0.000000,7931.155000,13121.402680,...,0.000000,0.000000,0.000000,0.000000,3728.445000,0.000000,68852.000000,0.000000,0.000000,3686.795844
50%,2012.000000,72.249000,1151.108000,2414.510000,212.388000,2642.214000,367.941078,3699.730000,10237.736690,15143.891690,...,4474.000000,3439.000000,3210.374891,2605.200000,3973.060000,2658.500000,76661.000000,6395.600000,2731.300000,4040.000000
75%,2016.000000,393.477500,2107.452500,3138.678000,249.628000,3376.040000,2197.780062,7399.009113,12126.935000,20023.935000,...,5387.300998,4163.800000,3527.621127,2934.200000,4261.375000,3046.200000,85339.500000,8412.925000,3125.400000,4312.554163
max,2019.000000,854.310000,3337.166000,3954.978000,421.080000,4305.196000,4597.660000,12259.273420,17357.610000,29142.520000,...,7087.000000,5879.000000,3999.000000,3290.000000,4985.000000,3442.000000,113757.000000,10741.000000,3524.000000,5035.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     151 non-null    int64
 1   gor                      151 non-null    object
 2   region                   151 non-null    object
 3   e7_meters                151 non-null    float64
 4   standard_meters          151 non-null    float64
 5   domestic_meters          151 non-null    float64
 6   non_domestic_meters      151 non-null    float64
 7   total_meters             151 non-null    float64
 8   e7_sales_gwh             151 non-null    float64
 9   standard_sales_gwh       151 non-null    float64
 10  domestic_sales_gwh       151 non-null    float64
 11  non_domestic_sales_gwh   151 non-null    float64
 12  total_gwh                151 non-null    float64
 13  e7_mean_kwh              151 non-null    float64
 14  e7_median_kwh            151 non-null    float64
 15  standard_mean_kwh        151 non-null    float64
 16  standard_median_kwh      151 non-null    float64
 17  domestic_mean_kwh        151 non-null    float64
 18  domestic_median_kwh      151 non-null    float64
 19  non_domestic_mean_kwh    151 non-null    float64
 20  non_domestic_median_kwh  151 non-null    float64
 21  all_mean_kwh             151 non-null    object
 22  all_median_kwh           151 non-null    float64
 23  avg_per_hhld_kwh         151 non-null    float64
dtypes: float64(20), int64(1), object(3)
memory usage: 28.4+ KB

In [15]:
df['all_mean_kwh']=df['all_mean_kwh'].str.replace(',','').astype(float).values

In [16]:
df

,year,gor,region,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,...,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_mean_kwh,all_median_kwh,avg_per_hhld_kwh
0,2005,E12000006,East,0.000,0.000,2440.150,218.020,2658.170,0.000000,0.000000,...,0.00,0.000000,0.0,4951.000000,0.0,78854.00000,0.00,0.000000,0.00,0.000000
1,2005,E12000004,East Midlands,0.000,0.000,1911.400,161.380,2072.780,0.000000,0.000000,...,0.00,0.000000,0.0,4522.000000,0.0,94773.00000,0.00,0.000000,0.00,0.000000
2,2005,E12000007,London,0.000,0.000,3248.590,421.080,3669.670,0.000000,0.000000,...,0.00,0.000000,0.0,4274.000000,0.0,65426.00000,0.00,0.000000,0.00,0.000000
3,2005,E12000001,North East,0.000,0.000,1170.120,82.180,1252.300,0.000000,0.000000,...,0.00,0.000000,0.0,3887.000000,0.0,113757.00000,0.00,0.000000,0.00,0.000000
4,2005,E12000002,North West,0.000,0.000,2910.570,236.810,3147.380,0.000000,0.000000,...,0.00,0.000000,0.0,4527.000000,0.0,97610.00000,0.00,0.000000,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2019,E12000006,East,684.012,2017.660,2701.672,232.860,2934.532,3452.728002,7189.566595,...,3769.30,3563.319189,2874.0,3939.151236,3042.4,64576.09201,7795.55,8750.793442,3120.80,4124.861231
147,2019,E12000007,London,424.809,3206.913,3631.722,411.845,4043.567,2034.651527,10483.284370,...,3752.00,3268.964382,2540.0,3446.832082,2633.7,60156.34308,5514.20,9222.803781,2705.10,3555.681266
148,2019,E12000008,South East,617.812,3337.166,3954.978,350.218,4305.196,3233.665035,12259.273420,...,4013.80,3673.558168,2922.3,3917.326077,3039.5,61553.50140,7098.55,8605.899152,3111.85,4096.114440
149,2019,E12000009,South West,344.213,2244.334,2588.547,264.094,2852.641,2109.007933,7857.311042,...,5015.30,3500.954422,2813.6,3850.159559,2960.4,49557.67596,6489.95,8081.705286,3041.80,4113.250249
150,2019,W92000004,Wales,91.664,1341.225,1432.889,132.309,1565.198,548.804603,4307.118556,...,4607.85,3211.331846,2701.5,3388.903927,2757.2,74522.88715,6684.70,9401.987375,2835.80,3547.815031

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     151 non-null    int64
 1   gor                      151 non-null    object
 2   region                   151 non-null    object
 3   e7_meters                151 non-null    float64
 4   standard_meters          151 non-null    float64
 5   domestic_meters          151 non-null    float64
 6   non_domestic_meters      151 non-null    float64
 7   total_meters             151 non-null    float64
 8   e7_sales_gwh             151 non-null    float64
 9   standard_sales_gwh       151 non-null    float64
 10  domestic_sales_gwh       151 non-null    float64
 11  non_domestic_sales_gwh   151 non-null    float64
 12  total_gwh                151 non-null    float64
 13  e7_mean_kwh              151 non-null    float64
 14  e7_median_kwh            151 non-null    float64
 15  standard_mean_kwh        151 non-null    float64
 16  standard_median_kwh      151 non-null    float64
 17  domestic_mean_kwh        151 non-null    float64
 18  domestic_median_kwh      151 non-null    float64
 19  non_domestic_mean_kwh    151 non-null    float64
 20  non_domestic_median_kwh  151 non-null    float64
 21  all_mean_kwh             151 non-null    float64
 22  all_median_kwh           151 non-null    float64
 23  avg_per_hhld_kwh         151 non-null    float64
dtypes: float64(21), int64(1), object(2)
memory usage: 28.4+ KB

In [20]:
df.groupby('year').sum()

,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,domestic_sales_gwh,non_domestic_sales_gwh,total_gwh,...,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_mean_kwh,all_median_kwh,avg_per_hhld_kwh
year,,,,,,,,,,,,,,,,,,,,,
2005,0.000,0.000,23246.693,2197.963,25444.676,0.000000,0.000000,106922.953000,178593.090000,285516.06000,...,0.00,0.000000,0.0,45491.000000,0.0,864986.00000,0.00,0.000000,0.00,0.000000
2006,0.000,0.000,23717.574,2205.804,25923.338,0.000000,0.000000,105611.657000,180294.290000,285905.94000,...,0.00,0.000000,0.0,44066.000000,0.0,863495.00000,0.00,0.000000,0.00,0.000000
2007,0.000,0.000,23916.278,2195.022,26111.300,0.000000,0.000000,104996.694000,172900.660000,277897.33000,...,0.00,0.000000,0.0,43396.000000,0.0,829025.00000,0.00,0.000000,0.00,45522.000000
2008,0.000,0.000,24009.778,2168.425,26178.213,0.000000,0.000000,100723.904000,171605.580000,272329.50000,...,0.00,0.000000,0.0,41428.000000,0.0,830812.00000,0.00,0.000000,0.00,43245.000000
2009,0.000,0.000,24246.877,2153.900,26400.777,0.000000,0.000000,100589.026000,162475.820000,263064.84000,...,0.00,0.000000,0.0,40988.000000,0.0,786486.00000,0.00,0.000000,0.00,42830.000000
2010,0.000,0.000,27135.888,2357.270,29493.148,0.000000,0.000000,112596.083766,180895.955710,293492.03949,...,0.00,0.000000,0.0,45149.000000,0.0,875735.00000,0.00,0.000000,0.00,48266.000000
2011,0.000,0.000,24488.168,2150.626,26638.824,0.000000,0.000000,99934.997000,156731.034000,256666.01000,...,0.00,0.000000,0.0,40309.000000,0.0,758602.00000,0.00,0.000000,0.00,42456.000000
2012,4333.781,20266.163,24599.944,2159.693,26759.617,24322.531200,74593.864000,98916.415000,160345.470000,259261.87000,...,46659.00,36426.000000,30511.0,39701.000000,31980.0,770051.00000,91398.00,96434.000000,32817.00,41965.000000
2013,4235.634,20470.522,24706.146,2166.794,26872.940,22342.027400,75245.573000,97587.590000,161598.470000,259186.07000,...,43643.00,36407.000000,30749.0,39023.000000,31966.0,777004.00000,85707.00,96277.000000,32741.00,40900.000000
2014,4150.260,20722.530,24872.790,2229.180,27101.950,21942.050000,76207.790000,98149.880000,161542.960000,259692.81000,...,43065.35,36417.080000,30570.4,38963.610000,31665.3,755406.73000,88719.40,95742.000000,32475.90,40771.000000
2015,4036.790,20916.755,24953.545,2213.960,27167.505,21298.161632,75806.436796,97104.598429,159355.345344,256459.94378,...,42948.85,35914.491284,30169.9,38449.758963,31303.0,750326.03095,85126.60,94387.658018,32094.30,40046.959340
2016,3921.303,21299.399,25220.702,2233.899,27454.601,20523.793076,75310.255511,95834.048590,153854.401493,249688.45010,...,42191.20,35024.977556,29101.1,37519.556538,30192.3,715024.88933,81979.35,90747.498392,30972.70,39162.833932
2017,3779.970,21616.372,25396.342,2252.580,27648.922,20026.648068,75351.197088,95377.845136,155676.203431,251054.04856,...,42258.45,34515.177166,28284.5,37067.103276,29354.7,717572.91973,83831.20,90704.856026,30152.90,38647.320101
2018,3670.299,21965.117,25635.416,2309.099,27944.515,18880.106574,74383.833040,93263.939610,155230.283073,248494.22270,...,40661.30,33530.499416,27464.2,35897.960470,28457.0,698060.47130,75005.60,88865.640117,29230.50,37517.832774
2019,3549.489,22297.001,25846.490,2313.610,28160.100,18046.527653,74974.291941,93020.819594,151835.489151,244856.30875,...,40133.05,33291.250986,27237.8,35514.405313,28170.6,681943.73722,73030.65,86978.134409,28927.45,37123.580199

In [24]:
df.columns

Index(['year', 'gor', 'region', 'e7_meters', 'standard_meters',
       'domestic_meters', 'non_domestic_meters', 'total_meters',
       'e7_sales_gwh', 'standard_sales_gwh', 'domestic_sales_gwh',
       'non_domestic_sales_gwh', 'total_gwh', 'e7_mean_kwh', 'e7_median_kwh',
       'standard_mean_kwh', 'standard_median_kwh', 'domestic_mean_kwh',
       'domestic_median_kwh', 'non_domestic_mean_kwh',
       'non_domestic_median_kwh', 'all_mean_kwh', 'all_median_kwh',
       'avg_per_hhld_kwh'],
      dtype='object')

In [25]:
df1=df.drop(columns='year')
df1

,gor,region,e7_meters,standard_meters,domestic_meters,non_domestic_meters,total_meters,e7_sales_gwh,standard_sales_gwh,domestic_sales_gwh,...,e7_median_kwh,standard_mean_kwh,standard_median_kwh,domestic_mean_kwh,domestic_median_kwh,non_domestic_mean_kwh,non_domestic_median_kwh,all_mean_kwh,all_median_kwh,avg_per_hhld_kwh
0,E12000006,East,0.000,0.000,2440.150,218.020,2658.170,0.000000,0.000000,12081.160000,...,0.00,0.000000,0.0,4951.000000,0.0,78854.00000,0.00,0.000000,0.00,0.000000
1,E12000004,East Midlands,0.000,0.000,1911.400,161.380,2072.780,0.000000,0.000000,8643.940000,...,0.00,0.000000,0.0,4522.000000,0.0,94773.00000,0.00,0.000000,0.00,0.000000
2,E12000007,London,0.000,0.000,3248.590,421.080,3669.670,0.000000,0.000000,13885.210000,...,0.00,0.000000,0.0,4274.000000,0.0,65426.00000,0.00,0.000000,0.00,0.000000
3,E12000001,North East,0.000,0.000,1170.120,82.180,1252.300,0.000000,0.000000,4548.260000,...,0.00,0.000000,0.0,3887.000000,0.0,113757.00000,0.00,0.000000,0.00,0.000000
4,E12000002,North West,0.000,0.000,2910.570,236.810,3147.380,0.000000,0.000000,13177.300000,...,0.00,0.000000,0.0,4527.000000,0.0,97610.00000,0.00,0.000000,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,E12000006,East,684.012,2017.660,2701.672,232.860,2934.532,3452.728002,7189.566595,10642.294600,...,3769.30,3563.319189,2874.0,3939.151236,3042.4,64576.09201,7795.55,8750.793442,3120.80,4124.861231
147,E12000007,London,424.809,3206.913,3631.722,411.845,4043.567,2034.651527,10483.284370,12517.935900,...,3752.00,3268.964382,2540.0,3446.832082,2633.7,60156.34308,5514.20,9222.803781,2705.10,3555.681266
148,E12000008,South East,617.812,3337.166,3954.978,350.218,4305.196,3233.665035,12259.273420,15492.938450,...,4013.80,3673.558168,2922.3,3917.326077,3039.5,61553.50140,7098.55,8605.899152,3111.85,4096.114440
149,E12000009,South West,344.213,2244.334,2588.547,264.094,2852.641,2109.007933,7857.311042,9966.318975,...,5015.30,3500.954422,2813.6,3850.159559,2960.4,49557.67596,6489.95,8081.705286,3041.80,4113.250249
150,W92000004,Wales,91.664,1341.225,1432.889,132.309,1565.198,548.804603,4307.118556,4855.923159,...,4607.85,3211.331846,2701.5,3388.903927,2757.2,74522.88715,6684.70,9401.987375,2835.80,3547.815031